<!DOCTYPE html>
<html>

<head lang="zh-CN">
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>验证码</title>
</head>

<body>
    <div><code>return: <span id="cap_return"></span></code></div>
    <div><code>ticket: <span id="cap_ticket"></span></code></div>
    <div id="cap_iframe" style="width: 230px; height: 220px"></div>
    <script type="text/javascript">
        !(function () {
            var l = window.location;
            var e = document.createElement("script");
            e.type = "text/javascript";
            e.src =
                "https://captcha.qq.com/template/TCapIframeApi.js" + (l.search ? l.search : "?" + l.hash.slice(1).split('#').slice(0, 1));
            document.getElementsByTagName("head").item(0).appendChild(e);
            e.onload = function () {
                capInit(document.getElementById("cap_iframe"), {
                    callback: function (a) {
                        var d = document.getElementById("cap_return");
                        d.innerHTML = a.ret;
                        var d = document.getElementById("cap_ticket");
                        d.innerHTML = a.ticket;
                    },
                    showHeader: !1,
                });
            };
        })();
    </script>
</body>

</html>